<h3>Messages:</h3><br/>
<table class="table table_striped" style="width: 100%;">
    <tr>
        <td style="wight: 5%;"><b>#</b></td>
        <td style="wight: 10%;"><b>Name</b></td>
        <td style="wight: 25%;"><b>Email</b></td>
        <td style="wight: 15%;"><b>Message</b></td>
    </tr>
    <?php foreach($data as $item){ ?>
    <tr>
        <td><?=$item['id']?></td>
        <td><?=$item['name']?></td>
        <td><?=$item['email']?></td>
        <td><?=$item['message']?></td>
    </tr>
    <?php } ?>

</table>